# This file provides an overview of code owners in the `marketplaces` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `marketplaces` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @aerfio @magicmatatjahu @michal-hudy @m00g3n

# All .md files
*.md @bszwarc @kazydek @klaudiagrz @mmitoraj @tomekpapiernik

# Application CR
/google-cloud/manifest/application.yaml @aerfio @magicmatatjahu @michal-hudy @m00g3n @bszwarc @kazydek @klaudiagrz @mmitoraj @tomekpapiernik

# The documentation directory
/docs/ @bszwarc @kazydek @klaudiagrz @mmitoraj @tomekpapiernik